@font-face {
  font-family: Barlow-Regular;
  src: url("../fonts/Barlow-Regular.ttf") format("truetype"),
    url("../fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Babelfish;
  src: url("../fonts/Babelfish.ttf") format("truetype"),
    url("../fonts/Babelfish.ttf") format("truetype");
}



h1, h2, h3 {
  font-family: Babelfish;
  font-style: normal;
}
