body {
  background-image: url('../images/bg-site_bap-3.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  padding: 2rem;
}
.cover {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.image-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}
.nav-bar {
  width: 35rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.list-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-media {
  width: 40px;
  height: 40px;
}
.icon-media:hover{
  margin-top: -0.5rem;
}
.container-music {
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
}
.embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  height: 380px;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 4rem;
}

.dark-color {
  color: #000000;
   margin-bottom: 2rem;
}

.container-about {
  margin: 11rem auto 0 auto;
}

.text {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 600;
}

.footer {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.t1,
.t2,
.t3 {
  font-family: "Quicksand", sans-serif;
  line-height: 22px;
  color: #ffffff;
  padding: 1rem;
  font-weight: 600;
}

/*---tablet---*/
@media only screen and (max-width: 811px) {
  .wrapper {
    padding: 0 0 0 0;
    margin-top: 5rem;
  }
  .image-logo {
    width: 550px;
  }
  .nav-bar {
    width: 20rem;
    margin-top: 4rem;
  }

  .icon-media {
    width: 35px;
    height: 35px;
  }
  .embed {
    width: 80%;
    height: 300px;
    margin-top: 0rem;
  }
  .container-music {
    padding: 0rem 0 0rem 0;
    margin-bottom: 0rem;
  }
  .container-about {
    padding: 0rem 0 11rem 0;
    margin: 0 auto 0 auto;
  }
  .title {
    font-size: 3rem;
  }
  .text {
    width: 36rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 14px;
  }
  .footer {
    margin-top: 0rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
  }
}


@media only screen and (max-width: 375px) {
  body {
    background-image: url("../images/bg-alt_1.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    padding: 0rem 0 0 0;
    margin-top: 5rem;
  }
  .image-logo {
    width: 320px;
  }
  .nav-bar {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }

  .icon-media {
    width: 30px;
    height: 30px;
  }
  .embed {
    width: 80%;
    height: 200px;
    margin-top: 6rem;
  }
  .container-music {
    padding: 0rem 0 0rem 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }
  .container-about {
    padding: 0rem 0 11rem 0;
    margin: 0 auto 0 auto;
  }
  .title {
    font-size: 2.5rem;
  }
  .text {
    width: 22rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Quicksand", sans-serif;
    line-height: 22px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  .footer {
    margin-top: 0rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
  }
}
@media only screen and (max-width: 430px) {
  body {
    background-image: url("../images/bg-alt_1.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    padding: 0rem 0 0 0;
    margin-top: 5rem;
  }
  .image-logo {
    width: 390px;
  }
  .nav-bar {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }

  .icon-media {
    width: 30px;
    height: 30px;
  }
  .embed {
    width: 80%;
    height: 200px;
    margin-top: 0rem;
  }
  .container-music {
    padding: 0rem 0 0rem 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }
  .container-about {
    padding: 0rem 0 5rem 0;
    margin: 0 auto 0 auto;
  }
  .title {
    font-size: 2.5rem;
  }
  .text {
    width: 22rem;
    font-size: 15px;
    margin-bottom: 2rem;
  }
  .footer {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }
}

