.wrapper {
  padding: 4rem 0 0 0;
}
.cover {
  width: auto;
  height: auto;
  margin: 0 auto;
}
.image-logo {
  display: block;
  margin: 0 auto 4rem auto;
  width: 750px;

}
.nav-bar {
  width: 35rem;
  margin: 5rem auto;
}
.list-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon-media {
  width: 40px;
  height: 40px;
}
.icon-media:hover {
  margin-top: -0.5rem;
}
.divisor {
  width: 100%;
  height: 20px;
}
.div-yellow {
  background-color: #bfcf61;
}
.div-yellow:hover {
  background-color: #000000;
}
.div-black {
  background-color: #000000;
}
.div-black:hover {
  background-color: #ffffff;
}
.div-pink {
  background-color: #cd5174;
}
.div-pink:hover {
  background-color: #bfcf61;
}
.container-music {
  padding: 3rem 0;
  background-color: #cd5174;
}
.embed {
  display: block;
  margin: 0 auto;
  width: 40rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.title::selection {
  color: #000000;
  background-color: #cd5174;
}

.dark-color {
  color: #000000;
}

.container-about {
  padding: 3rem 0;
  background-color: #bfcf61;
}

.text {
  width: 40rem;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 500;
}
.text::selection {
  color: #000000;
  background-color: #cd5174;
}

.footer {
  padding: 3rem;
  background-color: #000000;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.t1,
.t2,
.t3 {
  font-family: Helvetica, sans-serif;
  line-height: 22px;
  color: #ffffff;
  padding: 1rem;
  font-weight: 600;
}
.t1::selection {
  color: #000000;
  background-color: #cd5174;
}
.t2::selection {
  color: #000000;
  background-color: #cd5174;
}

/*---tablet---*/
@media only screen and (max-width: 811px) {
  .image-logo {
    width: 550px;
  }
  .nav-bar {
    width: 20rem;
    margin-top: 4rem;
  }
  .icon-media {
    width: 35px;
    height: 35px;
  }
  .embed {
    width: 80%;
    height: 300px;
    margin-top: 1rem;
  }

  .title {
    font-size: 3rem;
  }
  .text {
    width: 36rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-size: 14px;
  }
  .footer {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
}
/*---phones---*/
@media only screen and (max-width: 374px) {
  .image-logo {
    width: 320px;
  }
  .nav-bar {
    width: 20rem;
  }

  .icon-media {
    width: 30px;
    height: 30px;
  }
  .embed {
    width: 80%;
  }

  .title {
    font-size: 2.5rem;
  }
  .text {
    width: 22rem;
    line-height: 22px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 430px) {
  .image-logo {
    width: 365px;
  }
  .nav-bar {
    width: 20rem;
  }

  .icon-media {
    width: 30px;
    height: 30px;
  }
  .embed {
    width: 50%;
  }

  .title {
    font-size: 2.5rem;
  }
  .text {
    width: 22rem;
    font-size: 15px;
  }
}
